@model ProjectLibrary.Models.User

@{
    ViewData["Title"] = "Панель Администратора";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div>
    <div class="d-flex justify-content-start align-items-center mt-4">
        <a href="#"
           class="btn btn-outline-success"
           data-bs-toggle="modal"
           data-bs-target="#AddFilm"
           onclick="showAddModal()">
            Добавить фильм
        </a>
    </div>
    <div class="card bg-info mb-3" style="max-width: 310rem; ">
        @foreach (var item in ViewBag.Films)
        {
            <section>
                <div id="serviceModal"
                     class="card border-radius-lg shadow-sm"
                     data-bs-toggle="modal"
                     data-bs-target="#GetFilm"
                     style="margin-left:1%; margin-right:1%;">
                    <div class="card-header">
                        <p>
                            <h4>
                                @item.Name
                                <strong style="font-size: 24px; margin-left:10px; color: #6f42c1; ">@item.AgeRestriction</strong>
                            </h4>
                        </p>
                        <a href="#"
                           class="btn btn-outline-warning"
                           data-bs-toggle="modal"
                           data-bs-target="#EditFilm"
                           onclick="showEditModal(@item.FilmId)">
                            Изменить
                        </a>

                        <a href="#" class="btn btn-outline-danger delete-button"
                           data-bs-toggle="modal"
                           data-bs-target="#AddSession"
                           onclick="showSessionModal(@item.FilmId)">
                            Добавить сеансы
                        </a>

                        <a href="#" class="btn btn-outline-danger delete-button"
                                data-bs-toggle="modal"
                                data-bs-target="#DeleteFilm"
                                onclick="showDeleteModal(@item.FilmId)">
                            Удалить
                        </a>

                    </div>


                    <div class="film__card">
                        <div class="film__card--img">
                            <img src="~/Images/@item.Image" width="225" height="320" id="ph" style="margin-right: 30px" />
                        </div>
                        <div class="film__card--info">
                            <div class="card-body film__card--info-description">
                                <p class="card-text" style="min-width: 150px; font-size:21px;">@item.Description </p>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        }
    </div>
    @await Html.PartialAsync("Modals/FilmModalPage")
</div>



<script>
    function showSessionModal(filmId) {
        $.ajax({
            url: '@Url.Action("GetFilm", "Home")',
            type: 'GET',
            data: { id: filmId },
            success: function (result) {
                console.log(result)
                $('#AddSession #filmId').val(result.filmId);
                $('#AddSession').modal('show');
            }
        })

        $('#AddSession #save_data').on('click', function (e) {
            e.preventDefault()

            let formData = new FormData($('#AddSession #AddSessionForm')[0])
            $.ajax({
                url: '@Url.Action("AddSession", "Home")',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.success) {
                        alert(response.message)
                        location.reload()
                    } else {
                        alert(response.message)
                    }
                },
                error: function () {
                    alert("Ошибка при обновлении фильма!")
                }
            })
        })
    }

    function showAddModal() {
        $('#AddFilm').modal('show');

        $('#AddFilm #save_new_data').on('click', function (e) {
            e.preventDefault()

            let formData = new FormData($('#AddFilm #AddForm')[0])
            $.ajax({
                url: '@Url.Action("AddFilm", "Home")',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                   console.log(response)
                    if (response.success) {
                        alert(response.message)
                        location.reload()
                    } else {
                        alert(response.message)
                    }
                },
                error: function () {
                    alert("Произошла ошибка при добавлении фильма");
                }
            })
        })
    }
    function showEditModal(filmId) {
        $.ajax({
            url: '@Url.Action("GetFilm", "Home")',
            type: 'GET',
            data: { id: filmId },
            success: function (result) {
                console.log(result)
                $('#EditFilm #editFilmId').val(result.filmId);
                $('#EditFilm #editFilmName').val(result.name);
                $('#EditFilm #editFilmDescription').val(result.description);
                $('#EditFilm #editAgeRestriction').val(result.ageRestriction);
                $('#EditFilm #editFilmImageRepeat').val(result.image)
                console.log(result.image)
                $('#EditFilm').modal('show');
            }
        })

        $('#EditFilm #save_data').on('click', function (e) {
            e.preventDefault()

            let formData = new FormData($('#EditFilm #EditForm')[0])
            $.ajax({
                url: '@Url.Action("EditFilm", "Home")',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    if (response.success) {
                        alert(response.message)
                        location.reload()
                    } else {
                        alert(response.message)
                    }
                },
                error: function () {
                    alert("Ошибка при обновлении фильма!")
                }
            })
        })
    }

    function showDeleteModal(filmId) {
        $.ajax({
            url: '@Url.Action("GetFilm", "Home")',
            type: 'GET',
            data: { id: filmId },
            success: function (result) {
                console.log(result)
                $('#DeleteFilm #editFilmId').val(result.filmId);
                $('#DeleteFilm #editFilmName').val(result.name);
                $('#DeleteFilm #editFilmDescription').val(result.description);
                $('#DeleteFilm #editAgeRestriction').val(result.ageRestriction);
                $('#DeleteFilm #editFilmImageRepeat').val(result.image)
                console.log(result.image)
                $('#DeleteFilm').modal('show');
            }
        })

        $('#DeleteFilm #save_data').on('click', function (e) {
            var filmIds = $('#DeleteFilm #editFilmId').val();
            console.log(filmIds)
            e.preventDefault()
            $.ajax({
                url: '@Url.Action("DeleteData", "Home")',
                type: 'POST',
                data: {filmId: filmIds},
                success: function (response) {
                    if (response.success) {
                        alert(response.message)
                        location.reload()
                    } else {
                        alert(response.message)
                    }
                },
                error: function () {
                    alert("Ошибка при удалении фильма!")
                }
            })
        })
    }
    

</script>
